html, body {
    margin: 0;
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: block;
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
}

.title {
    height: 5vh;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding: 0.5em 0;
    color: #7F7F7F;
    background-color: #2A2A2A;
}

.cams_container {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

.cam_box {
    border-radius: 8px;
    background-color: #383838;
    width: 30vw;
    height: 60vh;
}

.cam_box.big {
    width: 35vw;
    height: 70vh;
}

.cam_box.small {
    width: 15vw;
    height: 30vh;
}

.user_name {
    color: #7F7F7F;
    padding: 0.5em;
    font-weight: bold;
    z-index: 10;
}

.toolbar {
    height: 10vh;
    background-color: #2A2A2A;
    background-image: url("imgs/buttons.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


